extends layout

block content
  .container
    ul#entries
      
    .rightColumn
      ul#entries

    .leftColumn
    #rightColumn  
      ul#entries
    #leftColumn
      form(id='formAdd')
        h2 Add Entry
        hr
        br
        p
          | Title: 
          input(id='title', type='text', name='title')
          br 
          br
          | Price: 
          input(id='price', type='text', name='price')
          br
          br
        input(type='submit', class="button", value='Add Entry')

  script(src='/javascripts/addExpense.js')
  script(src='/javascripts/main.js')
  script(src='/javascripts/editExpense.js')
    