extends layout

block content
  .container
    ul#entries
      
    .rightColumn
      ul#entries

    .leftColumn
      form(id='formAdd')
        p
          | title: 
          input(id='title', type='text', name='title')
          | price: 
          input(id='price', type='text', name='price')
        input(type='submit', value='Submit')
  script(src='/javascripts/addExpense.js')
  script(src='/javascripts/main.js')
    