extends layout

block content
  .container
    ul#entries

    .leftColumn
      h2 Test för sidokolumn
      hr
      p Lite Random Ord På Rad
      br
      p Och En Lista Bara För Att
      ul
        li En sak
        li En annan sak
        li En tredje sak

    script(src='/javascripts/main.js')