doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa")
    title= title
    link(rel="title bar icon" href="/images/Pix-logo.png" type="image/png")
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body
    header#page-header
      #headContent
        img(src="/images/Pix-logo-purple-back.png")
        p placeholder!

      ul#navbar
        <li><a href="#1">Home</a></li>
        <li><a href="#2">News</a></li>
        <li><a href="#3">About</a></li>
        <li><a href="#4">Contact</a></li>

    block content

    footer#page-footer
      #footContent
        p This is the page footer