body {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(white, violet);   /*(#fff, aquamarine);*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin: 0;
}

/*Header*/
.page-header {
  width: 100%;
  margin-bottom: 20px;
}

.headContent {
  padding: 15px;
  /*background-color: white; later use*/
}

.headContent img {
  border-radius: 5px;
  width: 250px;
}

.headContent h1 {
  float: left;
  font-family: Comfortaa;
}

.headContent p {
  float: right;
  padding-top: 20px;
  font-family: comfortaa;
  font-weight: bold;
  letter-spacing: 0.5rem;
}
    /*Navbar*/
.navbar {
  list-style-type: none;
  padding: 0;
  width: 100%;
  background-color: black;
  overflow: auto;
  margin: 0;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  margin-left: 3rem; 
  text-decoration: none;
}

.navbar li {
  float: left;
}

.navbar li a:hover {
  background-color: rgb(87, 87, 87);
}

/*Block content- (below navbar)*/
.container {
  display: block;
  width: 80%;
  min-height: 500px;
  margin:0 auto;
  padding: 0;
}

.leftColumn {
  font-family: comfortaa;
  padding: 1rem;
  float: left;
  width: 28%;
  margin: 0 auto;
  margin-right: 10px;
  /* padding.bottom: 100px; Test*/
  background-color: rgb(20, 20, 20);
  color: white;
  border-radius: 5px;
}

.leftColumn ul {
  line-height: 2rem;
}

.leftColumn p {
  font-family: verdana;
}

    /*Content- entries*/
#entries {
  float: right;
  width: 65%;
  padding: 10px;
  padding-top: 20px;
  background-color: rgb(20, 20, 20); /*gradient possible*/
  margin: 0 auto;
  border-radius: 5px;
}

.entry {
  list-style-type: none; 
}

    /*Gradient border*/
.module-border-wrap {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 20px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, aquamarine, violet);
  padding: 3px;
}

.module {
  border-radius: 50px;
  background-color:white;
  color: black;
  padding: 1rem;
}

.module:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

/*Footer*/
.page-footer {
  width: 100%;
  height: 250px;
  background-color: rgb(20, 20, 20);
  margin-top: 60px;
}

.footContent {
  padding: 20px;
  color: white;
}

.footContent p {
  font-family: comfortaa;
  letter-spacing: 0.5rem;
}

a {
  color: #00B7FF;
}
