body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: indianred;
}
#entries {
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:aquamarine;
  margin: 0 auto;

}
.entry {
    list-style-type: none;
    text-align: center;
    background-color: olivedrab;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 100px;

}

a {
  color: #00B7FF;
}
